@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?p0s34o');
  src:  url('icomoon.eot?p0s34o#iefix') format('embedded-opentype'),
    url('icomoon.ttf?p0s34o') format('truetype'),
    url('icomoon.woff?p0s34o') format('woff'),
    url('icomoon.svg?p0s34o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: -3px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dpx-folder-plus:before {
  content: "\e931";
}
.icon-dpx-folder-minus:before {
  content: "\e932";
}
.icon-dpx-folder-download:before {
  content: "\e933";
}
.icon-dpx-folder-upload:before {
  content: "\e934";
}
.icon-dpx-bell:before {
  content: "\e951";
}
.icon-dpx-box-add:before {
  content: "\e95e";
}
.icon-dpx-box-remove:before {
  content: "\e95f";
}
.icon-dpx-undo:before {
  content: "\e965";
}
.icon-dpx-hour-glass:before {
  content: "\e979";
}
.icon-dpx-spinner:before {
  content: "\e97a";
}
.icon-dpx-spinner3:before {
  content: "\e97c";
}
.icon-dpx-spinner6:before {
  content: "\e97f";
}
.icon-dpx-spinner7:before {
  content: "\e980";
}
.icon-dpx-spinner9:before {
  content: "\e982";
}
.icon-dpx-spinner10:before {
  content: "\e983";
}
.icon-dpx-spinner11:before {
  content: "\e984";
}
.icon-dpx-lock:before {
  content: "\e98f";
}
.icon-dpx-unlocked:before {
  content: "\e990";
}
.icon-dpx-wrench:before {
  content: "\e991";
}
.icon-dpx-equalizer:before {
  content: "\e992";
}
.icon-dpx-cog:before {
  content: "\e994";
}
.icon-dpx-stats-dots:before {
  content: "\e99b";
}
.icon-dpx-stats-bars:before {
  content: "\e99c";
}
.icon-dpx-fire:before {
  content: "\e9a9";
}
.icon-dpx-bin:before {
  content: "\e9ac";
}
.icon-dpx-bin2:before {
  content: "\e9ad";
}
.icon-dpx-download2:before {
  content: "\e9c5";
}
.icon-dpx-upload2:before {
  content: "\e9c6";
}
.icon-dpx-warning:before {
  content: "\ea07";
}
.icon-dpx-plus:before {
  content: "\ea0a";
}
.icon-dpx-minus:before {
  content: "\ea0b";
}
.icon-dpx-cross:before {
  content: "\ea0f";
}
.icon-dpx-checkmark:before {
  content: "\ea10";
}
.icon-dpx-checkmark2:before {
  content: "\ea11";
}
.icon-dpx-loop2:before {
  content: "\ea2e";
}
.icon-dpx-make-group:before {
  content: "\ea58";
}
.icon-dpx-ungroup:before {
  content: "\ea59";
}
.icon-dpx-scissors:before {
  content: "\ea5a";
}
