[submodule "wafbuilder"]
	path = wafbuilder
	url = http://gitlab.picoseq.org/build-system/wafbuilder.git
[submodule "linting"]
	path = linting
	url = http://gitlab.picoseq.org/build-system/linting.git
