.vscode
*__pycache__/
.pytest_cache/
.cache
.lock-*
.waf*
.*.un~
.*.swp
*.*~
build/
waf*-*
pyenv/
*.gch
*.py~
.ipynb_checkpoints*
.dep*
.vs
*.VC.*
*.sln
.env
*.lastbuild
*.lastbuildstate
.idea
.mypy_cache
