[submodule "wafbuilder"]
	path = wafbuilder
	url = ../../build-system/wafbuilder.git
[submodule "linting"]
	path = linting
	url = ../../build-system/linting.git
[submodule "core"]
	path = core
	url = ../libanalysis.git
