#dpx-pk-stretch { width: 111px; min-width: 40px; margin-right: 5px }
#dpx-pk-bias { width: 111px; min-width: 40px; }
#dpx-pk-ls-grp {margin-top: -140px; margin-left:245px;}
.dpx-params {margin-bottom: -20px!important;}
